{{define "scenario-body"}}
  <form class="test-form">
    <label>
      Username
      <input name="username" type="text" autocomplete="username">
    </label>
    <label>
      Current password
      <input name="current" type="password" autocomplete="current-password">
    </label>
    <label>
      New password
      <input name="new" type="password" autocomplete="new-password">
    </label>
    <label>
      Confirm password
      <input name="confirm" type="password" autocomplete="new-password">
    </label>
    <button type="button">Change password</button>
  </form>
{{end}}
